@import "bourbon";



$main_text_color: #848586;
$main_color : #8e54ea;
$second_color: #ffec3d;


$main_font: 'Raleway-Regular', sans-serif;
$Raleway_500: 'Raleway-Medium', sans-serif;
$Raleway_700: 'Raleway-Bold', sans-serif;
$Raleway_900: 'Raleway-ExtraBold', sans-serif;

$Accuratist: 'Accuratist', sans-serif;
$DidactGothic: 'DidactGothic', sans-serif;