@import "bourbon";
@import "vars.scss";

//Custom Styles Here
#sec_02{
  padding: 190px 0 80px;
  overflow: hidden;
  h2{margin-bottom: 45px}
  .item{
    .block_title{margin-bottom: 5px}
    .text{line-height: 28px;}
  }
  .item+.item{
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .center_block{
    background: url(../img/sec_02-block_bg.png) center no-repeat;
    margin-top: 130px;
    .text{margin: 10px 0 5px;}
  }
}

#sec_03{
  padding: 90px 0;
  position: relative;
  .wrapper{
    overflow: hidden;
  }
    .paralax_letter{
      top: -200px;
      left: 265px;
    }
  h2{
    margin-bottom: 30px;
  }
  .item{
    opacity: 0;
    .title{margin-bottom: 5px}
  }
  .item+.item{margin-top: 21px}
  .anim-del-1{animation-delay: .1s;}
  .anim-del-2{animation-delay: .25s;}
  .anim-del-3{animation-delay: .4s;}
  .anim-del-4{animation-delay: .55s;}
  .anim-del-5{animation-delay: .65s;}
  .anim-del-6{animation-delay: .8s;}
  .anim-del-7{animation-delay: .85s;}
  .anim-del-8{animation-delay: 1s;}
  .img_1{
    float: right;
    margin-right: 40px;
  }
  .custom{margin-bottom: 55px;}
  .center_block{
    margin-top: 30px;
    .block_title{margin-bottom: 25px;}
    .text{line-height: 28px;}
    .item+.item{
      margin-top: 10px;
      margin-bottom: 25px;
    }
    .btn{
      max-width: 290px;
      width: 100%;
      margin: 20px auto 0;
    }
  }
}

#sec_04{
  padding: 100px 0;
  position: relative;
  .paralax_letter{
    right: 250px;
    top: 0;
  }
  h2{margin-bottom: 40px;}
  .block_title{margin-bottom: 30px;}
  .item{
    .text{line-height: 28px;}
  }
  .item+.item{
    margin-top: 10px;
    margin-bottom: 75px;
  }
  .item_big{
    margin-top: 150px;
    line-height: 28px;
  }
}

#sec_05{
  padding: 80px 0;
  h2{
    margin-bottom: 80px;
    background-position: bottom center;
  }
  .item{
    margin-top: 53px;
    line-height: 28px;
    .block_title{margin-bottom: 5px;}
  }
  .item+.item{margin-top: 28px;}
  .margined{padding-left: 110px;}
  .img_2{margin: 35px 0 0 -55px;}
}

#sec_06{
  padding: 85px 0;
  h2{
    text-align: center;
    margin-bottom: 80px;
    font-size: 48px;
    background-position: bottom center;
  }
  .item{
    position: relative;
    padding-top: 30px;
    padding-left: 97px;
    min-height: 150px;
    .title{
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 5px;
    }
    .img{
      position: absolute;
      left: 28px;
      img{width: 30px;}
    }
    .img:before{
      content: "";
      z-index: -1;
      border-radius: 50%;
      position: absolute;
      width: 38px;
      height: 38px;
      top: 0;
      left: 13px;
      background: #e4dbf6;
    }
  }
  .teacher_photo{
    margin-top: -40px;
    position: relative;
    margin-left: 20px;
    .name{
      position: absolute;
      top: 75px;
      left: -20px;
      .title{
        margin-bottom: 5px;
        font-size: 26px;
        margin-top: 20px;
      }
      img{margin: 5px 0 0 -10px;}
    }
  }
  .item+.item{margin-top: 30px;}
  .left_block{
    .item{
      background: url(../img/sec_07-left_botder.png) top left no-repeat
    }
  }
  .right_block{
    .item{
      background: url(../img/sec_07-right_botder.png) top right no-repeat
    }
  }
  .mobile{
    display: none;
  }
}

#sec_07{
  padding: 95px 0;
  position: relative;
  .text{line-height: 28px;}
  h2{
    margin: 75px 0 40px;
    span{font-size: 80px;}
  }
  .btn{margin-top: 37px;}
  .paralax_letter{
    right: 200px;bottom: 300px;
  }
  .wrapp{overflow: hidden;}
}

#sec_08{
  padding: 90px 0;
  h2{
    text-align: center;
    background-position: bottom center;
    margin-bottom: 80px;
  }
  .item{
    margin-top: 75px;
    .block_title{margin-bottom: 10px;}
    .text{line-height: 28px;}
  }
  .center_block{
    background: url(../img/sec_02-block_bg.png) center no-repeat;
    margin-top: 70px;
    line-height: 28px;
    .text{margin: 20px 0 10px;}
    span{color: $main_color;}
  }
}

#sec_09{
  padding: 95px 0;
  h2{
    text-align: center;
    padding-bottom: 55px;
    background-position: bottom center;
  }
  .bolder_text{
    margin-top: -55px;
    margin-bottom: 65px;
  }
  .slide{
    background-color: #f0f2f6;
    padding: 65px 40px 60px 85px;
    .content_block{
      float: left;
      position: relative;
      margin-right: 75px;
    }
    .text_block{
      float: left;
      max-width: 760px;
      width: 100%;
      .title{
        margin-bottom: 10px;
        display: inline-block;
        margin-right: 20px;
      }
      .soc a{
        font: 16px $Raleway_500;
        color: $main_text_color;
        text-decoration: underline;
      }
      .soc a:hover{color: $main_color;}
      .text{
        line-height: 28px;
      }
    }
  }
  .number{
    position: absolute;
    top: 75px;
    left: 45px;
    font-size: 20px;
    color: #000;
    width: 100px;
    margin-top: 47px;
    .current{
      font: 49px $Raleway_700;
    }
  }
  .more{
    text-align: center;
    display: block;
    margin-top: 75px;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 28px;
    text-decoration: underline;
    img{display: inline-block;}
  }
  .more:hover{
    color: $main_color;
  }
  .slick-next{
    position: absolute;
    z-index: 10;
    top: 210px;
    left: 200px;
  }
  .slick-prev{
    position: absolute;
    z-index: 10;
    top: 210px;
    left: 100px;
  }
}

#sec_10{
  padding: 115px 0;
  .container{position: relative}
  ._letter{
    right: 140px;
    top: -360px;
  }
  h2{
    margin-bottom: 40px;
  }
  ul{
    padding-left: 15px;
    margin-top: 20px;
    li{position: relative;}
    li+li{margin-top: 10px;}
    li:before{
      content: "";
      position: absolute;
      width: 4px;
      height: 4px;
      top: 50%;
      margin-top: -2px;
      left: -15px;
      background: url(../img/list.png)
    }
  }
  .pink{
    margin-top: 20px;
    font-family: $Raleway_700;
    color: $main_color;
  }
  .price{
    color: #000;
    margin-top: 5px;
    font: 20px $Raleway_700;
    span{
      font-family: $Accuratist;
      font-size: 36px;
    }
  }
  form{
    padding: 40px 40px 65px;
    margin-top: 20px;
    background: #fff;
    text-align: center;
    .field{
      margin-left: auto;
      margin-right: auto;
      max-width: 420px;
      width: 100%;
    }
    .btn{
      margin: 40px auto 0;
    }
  }
}


#sec_11{
  position: relative;
  overflow: hidden;
  padding: 75px 0 92px;
  a{
    font: 16px/21px $Raleway_500;
    color: #000;
  }
  a:hover{color: $main_color;}
  .out_links{
    a{
      color: #9f999c;
      text-transform: uppercase;
      position: relative;
      font-family: $Raleway_500;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: .1em;
    }
    a:hover{
      color: $main_color;
    }
    a:before{
      position: absolute;
      content: '';
      width: 0px;
      height: 2px;
      left: 0px;
      bottom: -6px;
      transition: all .4s;
      background-color: $main_color;
    }
    a:hover:before{
      width: 100%;
    }
    li+li{margin-top: 5px;}
  }
  .contacts{
    padding-left: 30px;
    line-height: 21px;
    li+li{margin-top: 5px;}
    li{
      position: relative;
    }
    .place:before{
      position: absolute;
      content: '';
      width: 15px;
      height: 23px;
      left: -30px;
      top: 0px;
      background: url(../img/place.png) center no-repeat;
    }
    .tel:before{
      position: absolute;
      content: '';
      width: 23px;
      height: 23px;
      left: -30px;
      top: 0px;
      background: url(../img/phone.png) center no-repeat;
    }
  }
  .social{
    margin-top: 25px;
    li{
      display: inline-block;
      svg{
        width: 18px;
        height: 28px;
        fill: $main_color;
        transition: .3s;
        path{fill: $main_color;}
      }
      path{transition: 0.4s;}
      a:hover{
        svg {transform: scale(1.3);}
      }
    }
    li+li{margin-left: 5px;}
  }
  .call{
    display: inline-block;
    text-align: right;
    position: relative;
    color: $main_color;
    margin-top: 40px;
    font-family: $Raleway_700;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  .call:before{
    position: absolute;
    content: '';
    width: 0px;
    height: 2px;
    left: 0px;
    bottom: -6px;
    transition: all .4s;
    background-image: linear-gradient(to right, #eb3349 0%, #8d54e9 100%);
  }
  .call:hover:before{
    width: 100%;
  }
}

footer{
  padding: 15px 0 15px;
  background-color: #202020;
  .politics{
    margin-top: 17px;
    a{
      color: #65666a;
      font-size: 14px;
    }
    a:hover{color: $main_color;}
    a+a{margin-left: 10px;}
  }
  .logo_rezart{
    margin-top: 5px;
    margin-left: 25px;
    width: 80px;
    float: right;
    img{width: 80px;}
  }
  .logo_wcf{
    float: right;
  }
  .footer-fire:hover {
      animation-name: fire;
      animation-duration: 0.5s;
      animation-iteration-count: infinite;
      animation-timing-function: step-end;
      animation-direction: normal;
      opacity: 1;
  }
  @keyframes fire {
    0% {
      background-position: 0 center;
    }
    25% {
      background-position: -46px center;
    }
    50% {
      background-position: -84px center;
    }
    75% {
      background-position: -128px center;
    }
    100% {
      background-position: -160px center;
    }
  }
  .footer-fire {
      display: inline-block;
      height: 45px;
      width: 35px;
      overflow: hidden;
      background-image: url(../img/fire.svg);
      background-repeat: no-repeat;
      position: relative;
      background-position: 0 center;
      padding: 0;
      transition: 1s ease;
      background-size: 200px;
      float: right;
      opacity: .5;
  }
}

//ALWAYS END
@import "_sketches.scss";
@import "_media.scss";
@import "../libs/niftymodal/component.css";
@import "../libs/slick/slick.min.css";
// @import "../fonts/font-awesome/font-awesome.min.css"