body {
  position: relative;
  font: 18px/24px "Raleway-Regular", sans-serif;
  color: #7b7b7b;
  background-color: #fff; }

body.unscroll {
  overflow: hidden; }

a, button, input, textarea {
  text-decoration: none;
  outline: 0;
  border: 0;
  -webkit-transition: color 0.4s ease, background-color 0.4s ease, background-image 0.4s ease, border-color 0.4s ease;
  transition: color 0.4s ease, background-color 0.4s ease, background-image 0.4s ease, border-color 0.4s ease; }
  a:focus, button:focus, input:focus, textarea:focus {
    outline: 0; }

input, textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

textarea {
  resize: none; }

button:hover, a:hover {
  cursor: pointer; }

.md-modal.md-show {
  opacity: 1; }

.md-modal {
  opacity: 0; }

/* SCROLL BAR STYLES*/
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3); }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #1988cc;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-thumb:window-inactive {
  background: #1988cc; }

/* BUTTON scrollUP SYLES*/
#scrollup {
  position: fixed;
  right: 20px;
  bottom: 30px;
  width: 30px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  display: none;
  opacity: 1;
  cursor: pointer;
  z-index: 10;
  font-size: 40px;
  text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  #scrollup svg {
    fill: #848484;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }

#scrollup:hover svg {
  fill: #1988cc; }

.hidden {
  height: 0;
  width: 0; }

.bar-long {
  height: 5px;
  width: 0;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background: #1988cc; }

.btn {
  width: 300px;
  height: 60px;
  background-color: #1988cc;
  color: #000;
  font: 20px "Raleway-Regular", sans-serif;
  text-transform: uppercase; }

.btn:hover {
  background-color: #ffec3d; }

.btn:active {
  background-color: #edcc00; }

#sec_01 {
  background: url(../img/sec_01-bg.png) top center no-repeat; }
  #sec_01 .top .logo {
    float: left; }
  #sec_01 .top nav {
    float: left;
    margin: 35px 0 0 125px; }
    #sec_01 .top nav a {
      display: inline-block;
      color: #7c97a9;
      font-family: "Raleway-Medium", sans-serif;
      font-size: 16px;
      line-height: 24px; }
    #sec_01 .top nav a + a {
      margin-left: 12px; }
    #sec_01 .top nav a:hover {
      color: #fff; }
  #sec_01 .top .call {
    float: right;
    width: 190px;
    height: 40px;
    -webkit-border-radius: 19px;
    border-radius: 19px;
    background-color: #ffffff;
    margin-top: 30px;
    color: #165679;
    font-family: "Raleway-Bold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.05em; }
  #sec_01 .top .call:hover {
    background-color: #1988cc;
    color: #fff; }
  #sec_01 .top .call:active {
    background-color: #06425c; }
  #sec_01 .beforeheader {
    color: #8d5ae6;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase; }
  #sec_01 h1 {
    color: #ffffff;
    font-family: "Raleway-Bold", sans-serif;
    font-size: 100px;
    line-height: 78px;
    margin-top: 20px;
    margin-bottom: 50px; }
